:root{
  --gameboy-width: 30vw; /* 365px */
  --gameboy-height: 90vh; /* 400px */
  --gameboy-top_half_height: calc(var(--gameboy-height) - 36vh); /*90vh -36vh = 54vh ___ 444px -159px = 285px */
  --gameboy-bottom_half: calc(var(--gameboy-height) - var(--gameboy-top_half_height)); /* 90vh - 54vh = 36vh ____ 444px - 285px = 159px*/
  --gameboy-screen_width_margin: 4vw;
  --gameboy-screen_width: calc(var(--gameboy-width) - var(--gameboy-screen_width_margin)); /* 30vw - 4vw = 26vw ____ */
  --gameboy-screen_height_margin: 9vh;
  --gameboy-screen_height: calc(var(--gameboy-top_half_height) - var(--gameboy-screen_height_margin)); /*54vh - 9vh = 45vh */
  --gameboy-d_pad_height_offset: 17vh;
  --gameboy-d_pad_height: calc(var(--gameboy-bottom_half) - var(--gameboy-d_pad_height_offset)); /* 36vh - 17vh = 19vh */
  --gameboy-d_pad_width_offset: 20vw;  
  --gameboy-d_pad_width: calc(var(--gameboy-width) - var(--gameboy-d_pad_width_offset)); /*30vw - 20vw = 10vw */
  --gameboy-d_pad_row_height_offset: 15vh;
  --gameboy-d_pad_row_height: calc(var(--gameboy-d_pad_height) - var(--gameboy-d_pad_row_height_offset)); /* 19vh - 15vh = 4vh */
  --gameboy-d_pad_row_width_offset: 2vw;
  --gameboy-d_pad_row_width: calc(var(--gameboy-d_pad_width) - var(--gameboy-d_pad_row_width_offset)); /* 10vw - 2vw = 8vw */
  --gameboy-d_pad_row_top_offset: 11vh; 
  --gameboy-d_pad_row_top: calc(var(--gameboy-d_pad_height) - var(--gameboy-d_pad_row_top_offset)); /* 19vh - 11vh = 8vh */
  --gameboy-d_pad_col_height_offset: 4vh;
  --gameboy-d_pad_col_height: calc(var(--gameboy-d_pad_height) - var(--gameboy-d_pad_col_height_offset)); /* 19vh - 4vh = 15vh */
  --gameboy-d_pad_col_width_offset: 8vw;
  --gameboy-d_pad_col_width: calc(va(--gameboy-d_pad_width) - var(--gameboy-d_pad_col_width_offset)); /* 10vw - 8vw = 2vw  */
  --gameboy-d_pad_col_top_offset: -1.65vh;
  --gameboy-d_pad_col_left_offset: 3.65vw; 
  --gameboy-d_pad_col_left: calc(var(--gameboy-d_pad_width) - var(--gameboy-d_pad_col_left_offset)); /* 10vw - 6vw = 4vw */
  --gameboy-button_dir_size: 0.9;
  --gameboy-buttons_height_offset: 25vh;
  --gameboy-buttons_height: calc(var(--gameboy-bottom_half) - var(--gameboy-buttons_height_offset)); /* 36vh - 25vh = 11vh */
  --gameboy-buttons_width_offset: 20vw;
  --gameboy-buttons_width: calc(var(--gameboy-width) - var(--gameboy-buttons_width_offset)); /* 30vw - 20vw = 10vw */
  --gameboy-b_button_offsetY : 8vh;
  --gameboy-a_button_offsetY : 2vh;
  --screen-sides_margin: 5px solid hsl(55, 86%, 83%);
  --screen-background_color: #db6300;
  --screen-next_block_top: 6vh;
  --screen-next_block_height: 10vh;
  --screen-info_display_top: 3vh;
  --screen-info_display_height: 5vh;
  --screen-info_display_font_size: 10px;
  --screen-info_main_border: 23px solid black
}

@media screen and (max-width: 414px){
  :root{
    --gameboy-width: 94vw; /* 365px */
    --gameboy-height: 95vh; /* 400px */
    --gameboy-d_pad_width_offset: 68vw;  
    --gameboy-d_pad_width: calc(var(--gameboy-width) - var(--gameboy-d_pad_width_offset)); /*30vw - 20vw = 10vw */
    --gameboy-d_pad_col_left_offset: 5.65vw; 
    --gameboy-d_pad_col_left: calc(var(--gameboy-d_pad_width) - var(--gameboy-d_pad_col_left_offset)); /* 10vw - 6vw = 4vw */
  }
  body{
    margin: 2vh auto 0vh auto !important;
  }

  #piece_container .sq_block{
    margin: 0;
    padding: 0;
    width: 2.4vw !important;
    height: 1.4vh !important;
  }

  .d_pad .col {
    max-width: 6.5vw !important;
    left: var(--gameboy-d_pad_col_left) !important;
  }

  .buttons #b{
    min-width: 10vw !important;
    max-width: 10vw !important;
    transform: translateY(var(--gameboy-b_button_offsetY)) translateX(12vw) !important;
  }
  
  .buttons #a{
    min-width: 10vw !important;
    max-width: 10vw !important;
    transform: translateY(var(--gameboy-a_button_offsetY)) translateX(12vw) !important;
  }
  
  .ss_cont .diag_buttons{
    min-width: 2.8vw !important;
    margin: 0vh 5vw 0vh 5vw !important;
  }
}
@media screen and (min-width: 415px) and (max-width: 768px){
  :root{
    --gameboy-width: 94vw; /* 365px */
    --gameboy-height: 95vh; /* 400px */
    --gameboy-d_pad_width_offset: 68vw;  
    --gameboy-d_pad_width: calc(var(--gameboy-width) - var(--gameboy-d_pad_width_offset)); /*30vw - 20vw = 10vw */
    --gameboy-d_pad_col_left_offset: 5.65vw; 
    --gameboy-d_pad_col_left: calc(var(--gameboy-d_pad_width) - var(--gameboy-d_pad_col_left_offset)); /* 10vw - 6vw = 4vw */
    --screen-info_display_font_size: 20px;
  }

  #piece_container .sq_block{
    margin: 0;
    padding: 0;
    width: 2.4vw !important;
    height: 1.4vh !important;
  }

  .d_pad .col {
    max-width: 6.5vw !important;
    left: var(--gameboy-d_pad_col_left) !important;
  }

  .buttons #b{
    min-width: 10vw !important;
    max-width: 10vw !important;
    transform: translateY(var(--gameboy-b_button_offsetY)) translateX(12vw) !important;
  }
  
  .buttons #a{
    min-width: 10vw !important;
    max-width: 10vw !important;
    transform: translateY(var(--gameboy-a_button_offsetY)) translateX(12vw) !important;
  }

  .ss_cont .diag_buttons{
    min-width: 2.3vw !important;
    margin: 0vh 5vw 0vh 5vw !important;
  }
}
@media screen and (min-device-width: 769px) and (max-device-width: 1024px){
  :root{
    --gameboy-width: 94vw; /* 365px */
    --gameboy-height: 95vh; /* 400px */
    --gameboy-d_pad_width_offset: 68vw;  
    --gameboy-d_pad_width: calc(var(--gameboy-width) - var(--gameboy-d_pad_width_offset)); /*30vw - 20vw = 10vw */
    --gameboy-d_pad_col_left_offset: 5.65vw; 
    --gameboy-d_pad_col_left: calc(var(--gameboy-d_pad_width) - var(--gameboy-d_pad_col_left_offset)); /* 10vw - 6vw = 4vw */
    --screen-info_display_font_size: 20px;
  }

  #piece_container .sq_block{
    margin: 0;
    padding: 0;
    width: 2.4vw !important;
    height: 1.4vh !important;
  }

  .d_pad .col {
    max-width: 6.5vw !important;
    left: var(--gameboy-d_pad_col_left) !important;
  }

  .buttons #b{
    min-width: 10vw !important;
    max-width: 10vw !important;
    transform: translateY(var(--gameboy-b_button_offsetY)) translateX(12vw) !important;
  }
  
  .buttons #a{
    min-width: 10vw !important;
    max-width: 10vw !important;
    transform: translateY(var(--gameboy-a_button_offsetY)) translateX(12vw) !important;
  }
  .ss_cont .diag_buttons{
    min-width: 2.3vw !important;
    margin: 0vh 5vw 0vh 5vw !important;
  }
}

body{
  margin: 4vh auto 0vh auto;
  padding: 0;
}

.main_container{
  min-height: 90vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* gameboy container */
.gameboy{
  border: 1px solid black;
  min-height: var(--gameboy-height);
  max-height: var(--gameboy-height);
  min-width: var(--gameboy-width);
  max-width: var(--gameboy-width);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.gameboy .top_half{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: inherit;
  max-width: inherit;
  min-height: var(--gameboy-top_half_height);
  max-height: var(--gameboy-top_half_height);
}

.top_half #screen{
  border: 1px solid black;
  min-width: var(--gameboy-screen_width);
  max-width: var(--gameboy-screen_width);
  min-height: var(--gameboy-screen_height);
  max-height: var(--gameboy-screen_height);
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#screen .left_margin{
  border-left: var(--screen-sides_margin);
  border-right: var(--screen-sides_margin);
  background-color: var(--screen-background_color);
  flex: 0.3;
}

#screen .main{
  border-left: var(--screen-info_main_border);
  border-right: var(--screen-info_main_border);
  flex: 2.5;
  display: flex;
  flex-direction: column;
}

.main .row{
  flex: 1;
  display: flex;
}

.main .row .col{
  flex: 1;
}

#screen .right_margin{
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--screen-background_color);
  border-left: var(--screen-sides_margin);
  border-right: var(--screen-sides_margin);
}

.right_margin .next_block{
  margin-top: var(--screen-info_display_top);
  border: 1px solid black;
  min-height: var(--screen-next_block_height);
  z-index: 3;
  background-color: hsl(55, 86%, 83%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.next_block #piece_container{
  margin: 0;
  padding: 0;
}

#piece_container .row{
  display: flex;
  flex:1;
  flex-direction: row;
  justify-content: flex-start;
}

#piece_container .sq_block{
  border: 1px solid black;
  margin: 0;
  min-width: 0.58vw;
  min-height: 1.01vh;
}

.right_margin .disp{
  margin-top:  var(--screen-info_display_top);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  min-height: var(--screen-info_display_height);
  max-height: var(--screen-info_display_height);
  z-index: 3;
  font-size: var(--screen-info_display_font_size);
}

.disp p:first-child{
  margin: 0;
  padding: 0;
  text-align: center;
}

.disp p:last-child{
  margin: 0;
  padding: 0;
  text-align: center;
}

/* #screen #test_display{
  min-width: 20vw;
  max-width: 20vw;
  min-height: 10vh;
  max-height: 10vh;
  text-align: center;
} */

.gameboy .bottom_half{
  min-width: inherit;
  min-height: var(--gameboy-bottom_half);
  display: flex;
  flex-direction: column;
}

.bottom_half .button_cont{
  min-width: inherit;
  min-height: 20vh;
  transform: translateY(-2vh);
  display: flex;
  flex-direction: row;
}

.button_cont .d_pad{
  flex:1;
}

.button_cont .buttons{
  flex:1;
  display: flex;
  flex-direction: row;

}

.d_pad .row{
  position: relative;
  margin: 0vh auto 0vh auto;
  min-height: var(--gameboy-d_pad_row_height);
  max-width: var(--gameboy-d_pad_row_width);
  top: var(--gameboy-d_pad_row_top);
  left: 0vw;
  display: flex;
  flex-direction: row;
  z-index: 2;
}

.d_pad #left_button{
  border: 1px solid black;
  flex: var(--gameboy-button_dir_size);
}

.d_pad .center_circle{
  border: 1px solid black;
  background-color: white;
  min-width: 23%;
  transform: scale(1.5);
  border-radius: 50%;
  z-index: 1;
}

.d_pad #right_button{
  border: 1px solid black;
  flex: var(--gameboy-button_dir_size);
}

.d_pad .col {
  position: relative;
  display: inline-block;
  min-height: var(--gameboy-d_pad_col_height);
  min-width: var(--gameboy-d_pad_col_width);
  max-width: 2vw;
  top: var(--gameboy-d_pad_col_top_offset);
  left: var(--gameboy-d_pad_col_left);
  display: flex;
  flex-direction: column;
}

.d_pad #up_button{
  border: 1px solid black;
  flex: var(--gameboy-button_dir_size);
  margin-bottom: 0vh;
}

.d_pad #down_button{
  border: 1px solid black;
  flex: var(--gameboy-button_dir_size);
  margin-top: 0vh;
}

.buttons #b{
  border: 1px solid black;
  margin: 2vh 1vw 2vh 1vw;
  min-height: 3vh;
  max-height: 7vh;
  min-width: 3vw;
  max-width: 5vw;
  border-radius: 50%;
  transform: translateY(var(--gameboy-b_button_offsetY)) translateX(2vw);
}

.buttons #a{
  border: 1px solid black;
  margin: 2vh 1vw 2vh 1vw;
  border-radius: 50%;
  min-height: 3vh;
  max-height: 7vh;
  min-width: 3vw;
  max-width: 5vw;
  transform: translateY(var(--gameboy-a_button_offsetY)) translateX(2vw);
}

.bottom_half .ss_cont{
  min-width: inherit;
  min-height: 8vh;
  transform: translateY(-2vh);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ss_cont .diag_buttons{
  border: 1px solid black;
  min-width: 0.8vw;
  margin: 0vh 2vw 0vh 2vw;
  min-height: inherit;
  transform: translateX(-1.5vw) rotate(65deg);
  border-radius: 50%;

}