body{
  margin: 4vh auto 0vh auto;
  padding: 0;
}

.main_container{
  min-height: 90vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameboy{
  border: 1px solid black;
  min-height: 90vh;
  min-width: 30vw;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.gameboy .top_half{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: inherit;
  min-height: 54vh;
}

.top_half .screen{
  border: 1px solid black;
  min-width: 26vw;
  min-height: 45vh;
}

.gameboy .bottom_half{
  /* border-top: 1px solid black; */
  min-width: inherit;
  min-height: 36vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.bottom_half .d_pad{
  min-height: 19vh;
  min-width: 10vw;
}

.d_pad .row{
  position: relative;
  margin: 0vh auto 0vh auto;
  min-height: 4vh;
  max-width: 8vw;
  top: 8vh;
  left: 0vw;
  display: flex;
  flex-direction: row;
}

.d_pad .left_button{
  border: 1px solid black;
  flex: 0.9;
}

.d_pad .center_circle{
  border: 1px solid black;
  background-color: white;
  min-width: 23%;
  transform: scale(1.5);
  border-radius: 22px;
  z-index: 1;
}

.d_pad .right_button{
  border: 1px solid black;
  flex: 0.9;
}

.d_pad .col {
  position: relative;
  display: inline-block;
  min-height: 15vh;
  min-width: 2vw;
  max-width: 2vw;
  top: -1.65vh;
  left: 4vw;
  display: flex;
  flex-direction: column;
}

.d_pad .up_button{
  border: 1px solid black;
  flex: 0.9;
  margin-bottom: 0vh;
}

.d_pad .down_button{
  border: 1px solid black;
  flex: 0.9;
  margin-top: 0vh;
}

.bottom_half .buttons{
  position: relative;
  display: inline-block;
  min-height: 11vh;
  min-width: 10vw;
  max-width: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.buttons .b{
  border: 1px solid black;
  margin: 2vh 1vw 2vh 1vw;
  flex: 1;
  border-radius: 50px;
  transform: translateY(2vh);
}

.buttons .a{
  border: 1px solid black;
  margin: 2vh 1vw 2vh 1vw;
  flex: 1;
  border-radius: 50px;
  transform: translateY(-2vh);
}

@media screen and (max-width: 1024px){
  .gameboy{
    border: 1px solid black;
    min-height: 90vh;
    min-width: 74vw;
    border-radius: 15px;
  }
}

@media screen and (max-width: 414px) and (min-width: 1023px){
  .gameboy{
    border: 1px solid black;
    min-height: 90vh;
    min-width: 99vw;
    border-radius: 15px;
  }
}