:root{
  --gameboy-width: 30vw;
  --gameboy-height: 90vh;
  --gameboy-top_half_height: calc(var(--gameboy-height) - 36vh); /*90vh -36vh = 54vh */
  --gameboy-bottom_half: calc(var(--gameboy-height) - var(--gameboy-top_half_height)); /* 90vh - 54vh = 36vh */
  --gameboy-screen_width_margin: 4vw;
  --gameboy-screen_width: calc(var(--gameboy-width) - var(--gameboy-screen_width_margin)); /* 30vw - 4vw = 26vw */
  --gameboy-screen_height_margin: 9vh;
  --gameboy-screen_height: calc(var(--gameboy-top_half_height) - var(--gameboy-screen_height_margin)); /*54vh - 9vh = 45vh */
  --gameboy-d_pad_height_offset: 17vh;
  --gameboy-d_pad_height: calc(var(--gameboy-bottom_half) - var(--gameboy-d_pad_height_offset)); /* 36vh - 17vh = 19vh */
  --gameboy-d_pad_width_offset: 20vw;  
  --gameboy-d_pad_width: calc(var(--gameboy-width) - var(--gameboy-d_pad_width_offset)); /*30vw - 20vw = 10vw */
  --gameboy-d_pad_row_height_offset: 15vh;
  --gameboy-d_pad_row_height: calc(var(--gameboy-d_pad_height) - var(--gameboy-d_pad_row_height_offset)); /* 19vh - 15vh = 4vh */
  --gameboy-d_pad_row_width_offset: 2vw;
  --gameboy-d_pad_row_width: calc(var(--gameboy-d_pad_width) - var(--gameboy-d_pad_row_width_offset)); /* 10vw - 2vw = 8vw */
  --gameboy-d_pad_row_top_offset: 11vh; 
  --gameboy-d_pad_row_top: calc(var(--gameboy-d_pad_height) - var(--gameboy-d_pad_row_top_offset)); /* 19vh - 11vh = 8vh */
  --gameboy-d_pad_col_height_offset: 4vh;
  --gameboy-d_pad_col_height: calc(var(--gameboy-d_pad_height) - var(--gameboy-d_pad_col_height_offset)); /* 19vh - 4vh = 15vh */
  --gameboy-d_pad_col_width_offset: 8vw;
  --gameboy-d_pad_col_width: calc(var(--gameboy-d_pad_width) - var(--gameboy-d_pad_col_width_offset)); /* 10vw - 8vw = 2vw  */
  --gameboy-d_pad_col_top_offset: -1.65vh;
  --gameboy-d_pad_col_left_offset: 6vw; 
  --gameboy-d_pad_col_left: calc(var(--gameboy-d_pad_width) - var(--gameboy-d_pad_col_left_offset)); /* 10vw - 6vw = 4vw */
  --gameboy-button_dir_size: 0.9;
  --gameboy-buttons_height_offset: 25vh;
  --gameboy-buttons_height: calc(var(--gameboy-bottom_half) - var(--gameboy-buttons_height_offset)); /* 36vh - 25vh = 11vh */
  --gameboy-buttons_width_offset: 20vw;
  --gameboy-buttons_width: calc(var(--gameboy-width) - var(--gameboy-buttons_width_offset)); /* 30vw - 20vw = 10vw */
  --gameboy-b_button_offsetY : 2vh;
  --gameboy-a_button_offsetY : -2vh;
  --screen-sides_margin: 5px solid hsl(55, 86%, 83%);
  --screen-background_color: #db6300;
  --screen-next_block_top: 6vh;
  --screen-next_block_height: 10vh;
  --screen-info_display_top: 3vh;
  --screen-info_display_height: 5vh;
  --screen-info_display_font_size: 10px;
  --screen-info_main_border: 23px solid black
}

body{
  margin: 4vh auto 0vh auto;
  padding: 0;
}

.main_container{
  min-height: 90vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* gameboy container */
.gameboy{
  border: 1px solid black;
  min-height: var(--gameboy-height);
  min-width: var(--gameboy-width);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.gameboy .top_half{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: inherit;
  min-height: var(--gameboy-top_half_height);
}

.top_half #screen{
  border: 1px solid black;
  min-width: var(--gameboy-screen_width);
  min-height: var(--gameboy-screen_height);
  display: flex;
  /* This is for test_display */
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: row;
  align-items: stretch;
}

#screen .left_margin{
  border-left: var(--screen-sides_margin);
  border-right: var(--screen-sides_margin);
  background-color: var(--screen-background_color);
  flex: 0.3;
}

#screen .main{
  border-left: var(--screen-info_main_border);
  border-right: var(--screen-info_main_border);
  flex: 2.5;
  display: flex;
  flex-direction: column;
}

.main .row{
  /* border-bottom: 1px solid black; */
  flex: 1;
  display: flex;
}

.main .row .col{
  /* border-right: 1px solid black; */
  flex: 1;
}

#screen .right_margin{
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--screen-background_color);
  border-left: var(--screen-sides_margin);
  border-right: var(--screen-sides_margin);
}

.right_margin .next_block{
  margin-top: var(--screen-info_display_top);
  border: 1px solid black;
  min-height: var(--screen-next_block_height);
  z-index: 3;
  background-color: hsl(55, 86%, 83%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.next_block #piece_container{
  max-width: auto;
  max-height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#piece_container .sq_block{
  border: 1px solid black;
  min-width: 0.5vw;
  min-height: 1.1vh;
}

.right_margin .disp{
  margin-top:  var(--screen-info_display_top);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  min-height: var(--screen-info_display_height);
  max-height: var(--screen-info_display_height);
  z-index: 3;
  font-size: var(--screen-info_display_font_size);
}

.disp p:first-child{
  margin: 0;
  padding: 0;
  text-align: center;
}

.disp p:last-child{
  margin: 0;
  padding: 0;
  text-align: center;
}

/* #screen #test_display{
  min-width: 20vw;
  max-width: 20vw;
  min-height: 10vh;
  max-height: 10vh;
  text-align: center;
} */

.gameboy .bottom_half{
  min-width: inherit;
  min-height: var(--gameboy-bottom_half);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
/* Directional Pad */
.bottom_half .d_pad{
  min-height: var(--gameboy-d_pad_height);
  min-width: var(--gameboy-d_pad_width);
}

.d_pad .row{
  position: relative;
  margin: 0vh auto 0vh auto;
  min-height: var(--gameboy-d_pad_row_height);
  max-width: var(--gameboy-d_pad_row_width);
  top: var(--gameboy-d_pad_row_top);
  left: 0vw;
  display: flex;
  flex-direction: row;
}

.d_pad #left_button{
  border: 1px solid black;
  flex: var(--gameboy-button_dir_size);
}

.d_pad .center_circle{
  border: 1px solid black;
  background-color: white;
  min-width: 23%;
  transform: scale(1.5);
  border-radius: 22px;
  z-index: 1;
}

.d_pad #right_button{
  border: 1px solid black;
  flex: var(--gameboy-button_dir_size);
}

.d_pad .col {
  position: relative;
  display: inline-block;
  min-height: var(--gameboy-d_pad_col_height);
  min-width: var(--gameboy-d_pad_col_width);
  max-width: var(--gameboy-d_pad_col_width);
  top: var(--gameboy-d_pad_col_top_offset);
  left: var(--gameboy-d_pad_col_left);
  display: flex;
  flex-direction: column;
}

.d_pad #up_button{
  border: 1px solid black;
  flex: var(--gameboy-button_dir_size);
  margin-bottom: 0vh;
}

.d_pad #down_button{
  border: 1px solid black;
  flex: var(--gameboy-button_dir_size);
  margin-top: 0vh;
}
/* B and A Buttons */
.bottom_half .buttons{
  position: relative;
  display: inline-block;
  min-height: var(--gameboy-buttons_height);
  min-width: var(--gameboy-buttons_width);
  max-width: var(--gameboy-buttons_width);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.buttons #b{
  border: 1px solid black;
  margin: 2vh 1vw 2vh 1vw;
  border-radius: 50%;
  flex: 1;
  transform: translateY(var(--gameboy-b_button_offsetY));
}

.buttons #a{
  border: 1px solid black;
  margin: 2vh 1vw 2vh 1vw;
  border-radius: 50%;
  flex: 1;
  transform: translateY(var(--gameboy-a_button_offsetY));
}

@media screen and (max-width: 1024px){
  .gameboy{
    border: 1px solid black;
    min-height: 90vh;
    min-width: 74vw;
    border-radius: 15px;
  }
}

@media screen and (max-width: 414px) and (min-width: 1023px){
  .gameboy{
    border: 1px solid black;
    min-height: 90vh;
    min-width: 99vw;
    border-radius: 15px;
  }
}